:host {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: auto;

	header {
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		text-align: center;

		.icon-help-circle {
			font-size: 30px;
			cursor: pointer;
		}
	}
	
	.panel {
		gap: 0;
		padding: 0 15px;
		margin-bottom: 30px;
	}
	
	.left-panel {
		flex: 0 1 25%;
	}

	.center-panel {
		flex: 0 0 50%;
	}

	.right-panel {
		flex: 0 1 25%;
	}

	.production-type-buttons {
		gap: 30px;
	}

	.btn-next {
		justify-self: end;
	}

	.game-board-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: end;
		max-width: 400px;
	}

	.score-board-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: start;
		margin-top: 15px;
	}
}