@import 'variables';

:host {
	display: inline-flex;
	border: $color-black 1px solid;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: auto;
	height: auto;
	border-radius: 7px;
	cursor: pointer;
	border-color: black;
	width: 85px;
	
	p {
		margin: 10px;
		white-space: break-spaces;
		font-size: 14px;
	}
	
	&.--active {
		box-shadow: 0px 0px 10px #FAFF00;
		background-color: transparent;
	}

	img {
		margin: 0px;
		width: 50px;
		height: 50px;
	}

	&.--image-mode {
		width: 50px;
		height: 50px;
		
		p {
			display: none;
		}
	}
}


