:host {
	display: inline-flex;
	border: #51624F 1px solid;
	align-items: center;
	flex-direction: column;
	width: auto;
	height: auto;
	border-radius: 7px;
	color: #51624F;
	cursor: pointer;

	
	&.--active {
		background-color: #51624F;
		color: #FFFFFF;
	}

	img {
		margin: 5px 5px 0px 5px;
		height: 35px;
	}

	p {
		margin: 5px 10px 10px 10px;
	}
	

	&.layout2 {
		width: 50px;
		height: 50px;
		border-color: black;

		p {
			display: none;
		}

		&.--active {
			box-shadow: 0px 0px 10px #FAFF00;
			background-color: transparent;
		}
		
		img {
			margin: 0px;
			width: 50px;
			height: 50px;
		}
		
	}
}


