:host {
	position: relative;
	display: inline;
	outline: 1px solid black;
	box-sizing: border-box;

	&.--is-highlighted {
		outline: 1px solid #00E0FF;
		// box-shadow: 0px 0px 4px 3px #00E0FF;
		z-index: 1;

		$left: drop-shadow(-2px 0px 1px #00E0FF);
		$right: drop-shadow(2px 0px 1px #00E0FF);
		$top: drop-shadow(0px -2px 1px #00E0FF);
		$bottom: drop-shadow(0px 2px 1px #00E0FF);

		&.--all-sides {
			filter: $left $right $top $bottom;
		}

		&.--left {
			filter: $left;
		}

		&.--top-left {
			filter: $top $left;
		}

		&.--bottom-left {
			filter: $bottom $left;
		}

		&.--right {
			filter: $right;
		}

		&.--top-right {
			filter: $top $right;
		}

		&.--bottom-right {
			filter: $bottom $right;
		}

		&.--top {
			filter: $top;
		}

		&.--bottom {
			filter: $bottom;
		}
	}

	&.--is-assigned > * {
		outline: 1px solid yellow;
	}
}

img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}