@import 'variables';


:host {
	.game-board-wrapper {
		max-width: 700px;
	}

	.main-board {
		max-height: 400px;
	}

	.side-board {
		max-width: 350px;
	}

	.score-board {
		grid-column: 1 / 2;
		margin-top: 15px;
	}

	.expandable {
		position: relative;
		margin-top: 15px;

		&.expanded {
			overflow: visible;
			position: absolute;
			left: 0px;
			top: 0px;
		}

		img {
			margin: 0;
			padding: 0;
			max-width: 100%;
			border: 2px solid darkslategray;
		}

		button {
			position: absolute;
			top: 5px;
			left: 5px;
		}
	}




	.small-title-left,
	.small-title-right {
		margin: 5px 0;
		font-size: 16px;
		writing-mode: vertical-lr;
	}

	.small-title-left {
		transform: rotate(180deg);
	}

	.left-panel-gameboard,
	.right-panel-gameboard {
		display: flex;
		width: 100%;
		align-items: center;
		margin-top: 5px;
	}

	.right-panel-gameboard {
		justify-content: end;
	}

	.--is-positive {
		color: $color-positive;
	}

	.--is-negative {
		color: $color-negative;
	}
}