<div class="panel left-panel">
	<ng-container *ngFor="let board of (leftGameBoards | async)">
		<h2 translate>{{ board.name }}</h2>
        <tro-svg-game-board [boardData]="board" hideLegend [clickMode]="clickMode.SelectBoard" [overlay]="overlayBoard | async"  ></tro-svg-game-board>
	</ng-container>
</div>
<div class="panel center-panel">
	<header>
		<p translate [translateParams]="{value: (level | async)?.levelNumber}" troLevelIndicator>Runde</p>
		<h1 translate>Tradeoff: Agriculture Edition!</h1>
		<span class="icon-help-circle" (click)="openHelp()"></span>
	</header>
	<div>
		<div class="production-type-buttons">
			<tro-production-type-button *ngFor="let type of productionTypes"
				[productionType]="type" layout2></tro-production-type-button>
		</div>
	</div>
	<div class="game-board-wrapper">
		<tro-svg-game-board [boardData]="focusedGameBoard | async" hideLegend [overlay]="overlayBoard | async" class="main-board"></tro-svg-game-board>
		<div class="score-board-wrapper">
			<tro-score-board></tro-score-board>
			<button troButton class="btn-next" (click)="nextLevel()" *ngIf="(level | async)?.levelNumber == 1" translate>Nächste Runde</button>
		</div>
	</div>
</div>
<div class="panel right-panel">
	<ng-container *ngFor="let board of (rightGameBoards | async)">
		<h2 translate>{{ board.name }}</h2>
		<tro-svg-game-board [boardData]="board" [clickMode]="clickMode.SelectBoard" hideLegend [overlay]="overlayBoard | async"  ></tro-svg-game-board>
	</ng-container>
</div>
<tro-help></tro-help>
