:host{
    fill: transparent;
    //stroke: black;

    &.is-overlay.--is-highlighted{
        stroke:rgb(255, 0, 144);
        stroke-width: 1px;
    }
    &.is-overlay {
        stroke: black;
        stroke-width: .2px;
    }
}