:host{
    fill: transparent;
    //stroke: black;

    &.is-overlay.--is-highlighted{
        stroke:rgb(255, 0, 144);
        stroke-width: 2px;
    }
    &.is-overlay {
        stroke: rgba(0,0,0,0.8)
    }
}